body
{
	font-family: Sans-Serif;
	color: rgb(66,67,71);
	font-size: 1.1em;
}

a
{
	color: rgb(217,4,43);
	text-decoration: underline;
}

a:visited
{
	color: rgb(255,144,153);
	text-decoration: underline;
}

.normal
{
    color: rgb(0,0,0);
}

.green
{
    color: rgb(88,140,140);
}

.red
{
    color: rgb(217,4,43);
}

#background
{
	width: 800px;
	margin: auto;
}

#header .logo
{
	float: left;
	width: 800px;
	text-align: center;
}

#background_content
{
	float: left;
	margin-left: 40px;
	width: 720px;
}

#background_content .title
{
	float: left;
	width: 720px;
	height: 30px;
        margin-top: 40px;
        margin-left: 210px;
        color: rgb(0,0,0);
}

.content
{
	float: left;
        color: rgb(0,0,0);
        margin-top: 20px;
	margin-left: 40px;
        margin-right: 40px;
}

.content ul
{
	float: left;
        list-style-type: square;
}

.content li
{
	color: rgb(80,140,140);
}

#footer
{
	float: left;
	text-align: center;
	width: 800px;
	height: 60px;
	color: rgb(0,0,0);
	font-size: 1.2em;
}

#footer p
{
	margin-top: 27px;
}

#footer a
{
	color: rgb(0,0,0);
}
