body
{
	background: url(../images/bkg.png) repeat;
	font-family: arial Sans;
	color: rgb(255,255,255);
	font-size: 1.1em;
}

a
{
	color: rgb(244,203,137);
	text-decoration: underline;
}

a:visited
{
	color: rgb(88,140,140);
	text-decoration: underline;
}

#background
{
	width: 800px;
	height: 800px;
	margin: auto;
}

#header .logo
{
	float: left;
	width: 800px;
	text-align: center;
}

#menu
{
	float: left;
	margin-top: 22px;
	margin-left: 55px;
	width: 800px;
	height: 132px;
}

#content
{
	float: left;
	margin-left: 40px;
	margin-top: -70px;
	background: url(../images/content.png) no-repeat;
	width: 720px;
	height: 700px;
}

#content .title
{
	float: left;
	width: 800px;
	height: 30px;
	margin-left: 210px;
}

#content p.left
{
	float: left;
	margin: 30px;
	text-align: left;
}

#content p.center
{
	float: left;
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
	font-size: 1.1em;
}

#home_content
{
    display: block;
}

#features_content
{
    display: none;
}

#gallery_content
{
    display: none;
}

#download_content
{
    display: none;
}

#community_content
{
    display: none;
}

#help_content
{
    display: none;
}

#content ul
{
	float: left;
	list-style-type: square;
}

a.home
{
	float: left;
	background-image:url(../images/home_button.png);
	background-position: 0px 0px;
	display: inline-block;
	height: 40px;
	width: 100px;
}

a.home:hover
{
	background-position: 100px 0px;
	height: 62px;
}

a.features
{
	float: left;
	margin-left: 7px;
	background-image:url(../images/features_button.png);
	background-position: 0px 0px;
	display: inline-block;
	height: 40px;
	width: 100px;
}

a.features:hover
{
	background-position: -100px 0px;
	height: 62px;
}

a.gallery
{
	float: left;
	margin-left: 7px;
	margin-right: 55px;
	background-image:url(../images/gallery_button.png);
	background-position: 0px 0px;
	display: inline-block;
	height: 40px;
	width: 100px;
}

a.gallery:hover
{
	background-position: -100px 0px;
	height: 62px;
}

a.download
{
	float: left;
	margin-left: 7px;
	background-image:url(../images/download_button.png);
	background-position: 0px 0px;
	display: inline-block;
	height: 40px;
	width: 100px;
}

a.download:hover
{
	background-position: -100px 0px;
	height: 62px;
}

a.community
{
	float: left;
	margin-left: 7px;
	background-image: url(../images/community_button.png);
	background-position: 0px 0px;
	display: inline-block;
	height: 40px;
	width: 100px;
}

a.community:hover
{
	background-position: -100px 0px;
	height: 62px;
}

a.help
{
	float: left;
	margin-left: 7px;
	background-image:url(../images/help_button.png);
	background-position: 0px 0px;
	display: inline-block;
	height: 40px;
	width: 100px;
}

a.help:hover
{
	background-position: -100px 0px;
	height: 62px;
}

#footer
{
	float: left;
	background: url(../images/footer.png) no-repeat;
	text-align: center;
	width: 800px;
	height: 60px;
	color: rgb(66,67,71);
	font-size: 0.8em;
}

#footer p
{
	margin-top: 27px;
}

#footer a
{
	color: rgb(66,67,71);
}